<div class="filter-box">
    <div class="filter-item">
        <div class="c10"></div>
        <div class="filter-title">
            Công nghệ
        </div>
        <div class="checkbox-list">
			
			<!-- START BLOCK : material_item -->
			<div class="checkbox-item">
				<label class="checkbox-manu">
					<input type="checkbox"  class="checkbox-filter" name="product_material" value="{id}" >
					{name}
				</label>
			</div>
			<!-- END BLOCK : material_item -->

        </div>
    </div>
    <div class="c10"></div>
    <hr>
    <div class="filter-item">
        <div class="c10"></div>
        <div class="filter-title">
            Thương hiệu
        </div>
        <div class="checkbox-list">
                
        <!-- START BLOCK : manu_item -->
        <div class="checkbox-item">
            <label class="checkbox-manu">
                <input type="checkbox" class="checkbox-filter" name="product_manu" value="{id}" >
                {name}

            </label>
        </div>
        <!-- END BLOCK : manu_item -->
        

        </div>
    </div>
    <div class="c10"></div>
    <hr>
    
	
    <div class="filter-item">
        <div class="c10"></div>
        <div class="filter-title">
        Kích thước
        </div>
        
        <div class="checkbox-list">
		
			<!-- START BLOCK : product_power_item -->
			<div class="checkbox-item">
				<label class="checkbox-manu" >
					<input type="checkbox"  class="checkbox-filter" name="product_power" value="{id}" >
					{name}

				</label>
			</div>
			<!-- END BLOCK : product_power_item -->
		
        </div>
    </div>

	<div class="c10"></div>
	
	<hr>
	<div class="filter-item">
        <div class="c10"></div>
        <div class="filter-title">
        Mức giá
        </div>
        
        <div class="checkbox-list">
		
			<!-- START BLOCK : price_range_item -->
			<div class="checkbox-item">
				<label class="checkbox-manu">
					<input type="checkbox" class="checkbox-filter" name="price_range" value="{id}" >
					{name}

				</label>
			</div>
			<!-- END BLOCK : price_range_item -->
		
        </div>
    </div>
	
    <div class="c20"></div>
	
	
	

	
</div>