<div>{slideshow}</div>
<div class="c20"></div>
<div class="c20 hide-on-tab"></div>

<!-- START BLOCK : infoHot  -->

<div class="info">
  <div class="grid">

    <div class="flex-container">

      <div class="cell-1-2 tab-cell-1-1">
        <h2 class="info-category-name" style="color: var(--maincolor);">Giới
          thiệu_____</h2>
        <h1 class="info-title">{subname}</h1>
        <div class="c20"></div>
        {catintro}
        <div class="c20"></div>
        <div class="c10"></div>
      </div>

      <div class="cell-1-2 tab-cell-1-1">
        {catimage}
      </div>

    </div>
    <div class="c30"></div>

  </div>

  <div class="inforHot-wrapper">
    <div class="grid">
      <div class="flex-container" style="padding: 40px 0;">
        <!-- START BLOCK : infoHotItem -->
        <div class="cell-1-4 tab-cell-1-2">
          <div class="infoHot-item">
            <div class="infohot-icon">
              {image}
            </div>
            <div class="infoHot-name">
              {name}
            </div>
            <div class="infohot-text">
              {intro}
            </div>

          </div>
        </div>
        <!-- END BLOCK : infoHotItem -->
      </div>

    </div>
  </div>

</div>

<!-- END BLOCK : infoHot  -->

<div class="c20 hide-on-tab"></div>
<div class="c30"></div>

<!-- START BLOCK : product  -->
<div class="category-light">
  <div class="grid">
    <div class="homecat-title">{catname}</div>
    <div class="c10"></div>
    <div class="flex-container">

      <!-- START BLOCK : product_sub -->
      <div class="cell-1-3 tab-cell-1-1">
        <div class="product_sub_item">
          <a href="{sub_link}"> <img src="{image_src}" alt></a>
          <div class="product_sub_name">
            <a href="{sub_link}">{sub_catname}</a>
          </div>
        </div>
      </div>
      <!-- END BLOCK : product_sub -->

    </div>

  </div>
</div>

<!-- END BLOCK : product -->

<!-- START BLOCK : productHot -->

<div class="productHot-wrapper">
  <div class="c20"></div>
  <div class="c30"></div>

  <div class="grid">
    <div class="homecat-title">
      {catname}
    </div>
    <div class="c10"></div>
    <div class="flex-container">
      <!-- START BLOCK : product_item -->
      <div class="cell-1-4 tab-cell-1-1">
        <div class="product-item">

          <div class="product-img">{image}</div>
          <div class="product-name">
            {name}
          </div>

          <div style="color: red;">Liên hệ</div>
        </div>
      </div>
      <!-- END BLOCK : product_item -->
    </div>
  </div>

</div>

<!-- END BLOCK : productHot -->

{inhome}

<!-- START BLOCK : logo -->
<div class="chungnhan-wrapper">
  <div class="c20"></div>
  <div class="grid">
    <div class="homecat-title">
      {catname}
    </div>
    <div class="c10"></div>
    <div class="swiper chungnhan-swiper">
      <div class="swiper-wrapper">
        <!-- START BLOCK : logo_item -->
        <div class="swiper-slide">
          <div class="chungnhan-item">
            {image}
          </div>

        </div>
        <!-- END BLOCK : logo_item -->
      </div>
    </div>
  </div>
</div>
<script>
  new Swiper('.chungnhan-swiper', {
    slidesPerView: 6,
    spaceBetween: 20,
    loop: true,

    breakpoints: {
      320: {
        slidesPerView: 2
      },
      768: {
        slidesPerView: 4
      },
      1200: {
        slidesPerView: 6
      }
    }
  });
</script>
<!-- END BLOCK : logo -->

<!-- START BLOCK : news  -->
<div class="news">
  <div class="grid">
    <div class="c10 hide-on-pad hide-on-tab"></div>
    <div class="c10"></div>
    <div class="c30"></div>
    <h2 class="homecat-title" style="text-align: center;margin: 0;">
 {catname}
    </h2>
    <div class="c10"></div>
    <div class="c10"></div>

    <div class="flex-container">
      <!-- START BLOCK : news_item  -->
      <div class="cell-1-3 tab-cell-1-1 pad-cell-1-2">
        <div class="news-item">
          <a href="{link_detail}">
            {image}
          </a>
          <div class="c10 hide-on-pad hide-on-tab"></div>
          <div class="c10"></div>
          <a href="{link_detail}">
            <div class="text-line-2 news-item__desc">
              {name}
            </div>
          </a>
          <div class="c10 hide-on-pad hide-on-tab"></div>
          <div class="c5"></div>
          <div class="text-line-4 news-intro">
            {intro}
          </div>
        </div>
      </div>
      <!-- END BLOCK : news_item  -->

    </div>
  </div>
</div>
<!-- END BLOCK : news  -->


<!-- đối tác -->

<div class="doi-tac">
  <div class="grid">

    <div class="c10"></div>
    <div class="c5"></div>
    {s_partner}

  </div>
</div>

<!-- end đối tác -->
