{slideshow}
<div class="c"></div>
<!-- START BLOCK : infoCatList -->

<div class="grid">
  <div class="menutab flex-container" style="background:#FFF;justify-content: flex-start;">
    <!-- START BLOCK : tab -->
    <div class="menutab-item" data-id="{catid}" style="margin-bottom:5px; margin-left:5px; margin-right:5px;">
      {catname}
    </div>
    <!-- END BLOCK : tab -->
  </div>
</div>
{pathpage}


<div class="grid">

  <!-- START BLOCK : info -->
  <div class="tab-content" data-id="{catid}">
    <div class="info-info">
      <div class="homecat-title text-center">
        {catname}
      </div>
      <div class="c10"></div>
      <div class="homecat-intro">
        {catintro}
      </div>
      <div class="homecat-intro">
        {catcontent}
      </div>
    </div>
  </div>
  <!-- END BLOCK : info -->



  <!-- START BLOCK : info_donvi -->
  <div class="tab-content" data-id="{catid}">
    <div class="info-info">

      <div class="homecat-title text-center">{catname}</div>
      <div class="flex-container align-center">

        <!-- START BLOCK : info_donvi_item -->
        <div class="cell-1-2 tab-cell-1-1">
          <div class="text-center pagecat-title">
            {name}
          </div>
          <div class="c10"></div>
          <div class="homecat-intro">
            {intro}
          </div>
        </div>
        <!-- END BLOCK : info_donvi_item -->
      </div>
    </div>
  </div>
  <!-- END BLOCK : info_donvi -->


  <!-- START BLOCK : album -->
  <div class="tab-content" data-id="{catid}">
    <div class="info-info">
      <div class="homecat-title text-center">{catname}</div>
      <div class="flex-container align-center">

        <!-- START BLOCK : albumItem -->
        <div class="cell-1-4 tab-cell-1-1">
          {image}
        </div>
        <!-- END BLOCK : albumItem -->
      </div>
    </div>
  </div>
  <!-- END BLOCK : album -->




</div>

<!-- END BLOCK : infoCatList -->
<div class="c20"></div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll(".menutab-item");
    const contents = document.querySelectorAll(".tab-content");

    tabs.forEach(tab => {
      tab.addEventListener("click", function () {
        const id = this.getAttribute("data-id");

        // active tab
        tabs.forEach(t => t.classList.remove("active"));
        this.classList.add("active");

        // show đúng content
        contents.forEach(c => {
          if (c.getAttribute("data-id") === id) {
            c.classList.add("active");
          } else {
            c.classList.remove("active");
          }
        });
      });
    });


    if (tabs.length > 0) {
      tabs[0].click();
    }
  });
</script>
