<div class="info-home-wrap">

  <!-- START BLOCK : cell_cat_home -->
  <div class="flex-container align-center">
    <div class="cell-1-3 tab-cell-1-1">
      <div class="cat-image">
        {catimage}
      </div>
    </div>
    <div class="cell-2-3 tab-cell-1-1">
      <div class="grid-less">
        <div class="homecat-title">
          {catname}
        </div>
        <div class="homecat-intro">
          {catintro}
        </div>
        <div class="c20"></div>
        <hr>
        <div class="c20"></div>
        <div class="flex-container">
          <!-- START BLOCK : cell_sub_cat -->
          <div class="cell-1-3 tab-cell-1-1">
            <div class="inhome-item">
              <img src="{image_url}" alt>
              <h4>
                {name}
              </h4>
            </div>
          </div>
          <!-- END BLOCK : cell_sub_cat -->
        </div>
      </div>
    </div>
  </div>
  <!-- END BLOCK : cell_cat_home -->

</div>
