{pathpage}
<div class="c"></div>
{slideshow}

<!-- START BLOCK : itemList -->


<div class="news-container">
  <div class="grid">



    <h2 class="catchild-title">
      {catname}
    </h2>
    <div class="c3"></div>
    {catintro}
    <div class="c5"></div>



    <div class="newslist-wrapper">
      <div class="c20"></div>
      <div class="newslist flex-container ">
        <!-- START BLOCK : newsItem -->
        <div class="cell-1-3 tab-cell-1-1">
          <a href="{link_detail}" class="newsimg">
            {image}
          </a>
          <h3 class="newsname ">
            <a class="text-line-3 m-text-line-2" href="{link_detail}">
              {name}
            </a>
          </h3>
          <div class="newscat-info">
            <span>{createdate}</span>
          </div>
          <div style="padding: 0px 20px;" class="homecat-intro text-line-2 m-text-line-2">
            {intro}
          </div>
        </div>
        <!-- END BLOCK : newsItem -->
        <div class="cell-1-3 tab-cell-1-1"></div>
        <div class="cell-1-3 tab-cell-1-1"></div>
      </div>

      <div class="flex_center">
        {pages}
      </div>
    </div>

  </div>


  <!-- END BLOCK : itemList -->

  <!-- START BLOCK : itemDetail  -->
  <div class="news-container">
    <div class="grid">
      <div class="flex-container flex-reverse--mb">


        <div class="newsdetail">
          <h1 class="newsdetail-name">
            {name}
          </h1>
          <div class="newsdetail-intro">
            {intro}
          </div>

          <div class="tocWrap">
            <div class="longPageTOC TOCShowHide">
              Xem nhanh
            </div>
            <div class="longPageNavigation"></div>
          </div>
          <script>
            $(function () {
              $(".tocContent").LongPageNavigation({ longPageNavigationPosition: "longPageNavigation" });
              $(".TOCShowHide").click(function () {
                $(this).toggleClass('collapsed');
                $(".longPageNavigation").slideToggle();
              });
            });

          </script>

          <div class="tocContent">
            {content}
          </div>

          <div class="c10"></div>

          <div class="sharethis-inline-share-buttons"></div>

          <!--
					<meta property="fb:admins" content="100000441129325"/>
					-->
        </div>


        <div class="newsothers">
          <h4 class="titlehnc-left">Bài viết liên quan</h4>
          <div class="flex-container">
            <!-- START BLOCK : lstOther -->
            <div class="cell-1-4 tab-cell-1-1">
              <div class="newsother-item">
                <a href="{link_detail}" class="newsother-img">
                  {image}
                </a>
                <a href="{link_detail}" class="newsother-name text-line-2">
                  {name}
                </a>
              </div>
            </div>
            <!-- END BLOCK : lstOther -->

            <div class="cell-1-4"></div>
            <div class="cell-1-4"></div>
            <div class="cell-1-4"></div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end tin tức -->

  <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{site_address}{link_detail}"
    },
    "headline": "{name}",
	"image": {
		"@type": "ImageObject",
		"url": "{site_address}{image}"
	},
    "datePublished": "{createdate}",
    "dateModified": "{createdate}",
    "author": {
    "@type": "Person",
    "name": "Admin"
    },
    "publisher": {
    "@type": "Organization",
    "name": "MrM",
    "logo": {
    "@type": "ImageObject",
    "url": "{site_address}/uploaded/logo/logo.png"
    }
    },
    "description": "{description}"
    }
</script>





  <!-- END BLOCK : itemDetail  -->
