<!-- START BLOCK : partner  -->
<div class="c30 hide-on-pc"></div>
<h2 class="homecat-title">{catname}</h2>

<div style="position: relative;">

  <div style="padding: 0px;">
    <div class="swiper" id="partner" style="padding-bottom: 30px;">
      <div class="swiper-wrapper">
        <!-- START BLOCK : list_partner -->
        <div class="swiper-slide">
          {image}
        </div>
        <!-- END BLOCK : list_partner -->
      </div>


      <div class="swiper-pagination"></div>
    </div>

  </div>

</div>

<script>
  var swiper_partner = new Swiper('#partner', {
    slidesPerView: 6,
    autoplay: {
      delay: 2200,
      disableOnInteraction: false,
    },
    pagination: {
      el: '#partner .swiper-pagination',
      clickable: true,
    },
    spaceBetween: 32,
    navigation: {
      nextEl: '.partner-next',
      prevEl: '.partner-prev',
    },
    speed: 400,
    loop: true,
    breakpoints: {
      0: {
        slidesPerView: 2,
        spaceBetween: 10
      },
      480: {
        slidesPerView: 3,
        spaceBetween: 15
      },
      768: {
        slidesPerView: 4,
        spaceBetween: 20
      },
      1024: {
        slidesPerView: 5,
        spaceBetween: 25
      },
      1200: {
        slidesPerView: 6,
        spaceBetween: 32
      }
    }
  });
  $('#partner').on('mouseover', function () {
    swiper_partner.autoplay.stop();
  });
  $('#partner').on('mouseout', function () {
    swiper_partner.autoplay.start();
  });
</script>

<!-- END BLOCK : partner  -->
