{slideshow}
<div class="c"></div>
{pathpage}
<div class="c10"></div>
<div class="c20"></div>

<!-- START BLOCK : productList -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{site_address}{cat_link}"
    },
    "headline": "{cat_title}",
    "image": ["{site_address}{cat_image}"],
    "datePublished": "{create_date}",
    "dateModified": "{create_date}",
    "author": {
      "@type": "Person",
      "name": "Admin"
    },
    "description": "{cat_description}"
  }
</script>
<div class="c20"></div>
<div class="grid">
  <div class="flex-container">
    <div class="cell-1-4 tab-cell-1-1">
      <div class="left-search">
        <form action="" method="get">
          <input type="text" name="q" placeholder="Search..." />
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <div class="hide-on-tab">{leftcol}</div>
    </div>
    <div class="cell-3-4 tab-cell-1-1">
      <div class="homecat-title">{cat_title}</div>
      <div class="product-list">
        <div class="flex-container">
          <!-- START BLOCK : product_item -->
          <div class="cell-1-3 tab-cell-1-2">
            <div class="product-item" style="position: relative">
              <!-- <div class="product-check">
                <input type="checkbox" class="inquiry-check" value="{id}" data-name="{name}" {checked}
                  style="height: 25px; width: 25px" />
              </div> -->
              <a href="{link_detail}">
                <div class="product-img">{image}</div>
              </a>
              <div class="c5"></div>
              <div class="text-line-2">
                <a href="{link_detail}" class="product-name">
                  {name}
                </a>
              </div>
              <div class="c5"></div>
              <div class="pro-detail-code">Liên hệ</div>
            </div>
          </div>
          <!-- END BLOCK : product_item -->

          <div class="cell-1-3 tab-cell-1-2"></div>
          <div class="cell-1-3 tab-cell-1-2"></div>
          <div class="cell-1-3 tab-cell-1-2"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid flex_center">{pages}</div>
</div>


<!-- END BLOCK : productList -->

<!-- START BLOCK : proDetail -->
<script type="text/javascript" src="{dir_path}/highslide/highslide-with-gallery.js"></script>
<link rel="stylesheet" type="text/css" href="{dir_path}/highslide/highslide.css" />
<script type="text/javascript">
  hs.graphicsDir = '{dir_path}/highslide/graphics/'
  hs.align = 'center'
  hs.transitions = ['expand', 'crossfade']
  hs.wrapperClassName = 'dark borderless floating-caption'
  hs.fadeInOut = true
  hs.dimmingOpacity = 0.75
  if (hs.addSlideshow)
    hs.addSlideshow({
      interval: 5000,
      repeat: false,
      useControls: true,
      fixedControls: 'fit',
      overlayOptions: {
        opacity: 0.6,
        position: 'bottom center',
        hideOnMouseOut: true,
      },
    })
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "{name}",
    "image": "{image}",
    "description": "{description}",
    "sku": "{ma}001",
    "mpn": "{ma}",

    "brand": {
      "@type": "Organization",
      "url": "{site_address}",
      "contactPoint": [
        {
          "@type": "ContactPoint",
          "telephone": "+84-335-898-898",
          "contactType": "customer service"
        }
      ]
    },

    "review": {
      "@type": "Review",
      "reviewRating": {
        "@type": "Rating",
        "ratingValue": "4",
        "bestRating": "5"
      },
      "author": {
        "@type": "Person",
        "name": "Administrator"
      }
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.8",
      "reviewCount": "510"
    },

    "offers": [
      {
        "@type": "Offer",
        "price": "{price_number}",
        "priceCurrency": "VND",
        "priceValidUntil": "2026-12-12T16:19:00+00:00",
        "shippingDetails": {
          "@type": "OfferShippingDetails",
          "shippingRate": {
            "@type": "MonetaryAmount",
            "value": "0",
            "currency": "VND"
          },
          "deliveryTime": {
            "@type": "ShippingDeliveryTime",
            "businessDays": {
              "@type": "OpeningHoursSpecification",
              "dayOfWeek": [
                "https://schema.org/Monday",
                "https://schema.org/Tuesday",
                "https://schema.org/Wednesday",
                "https://schema.org/Thursday",
                "https://schema.org/Friday"
              ]
            },
            "handlingTime": {
              "@type": "QuantitativeValue",
              "minValue": "0",
              "maxValue": "0",
              "samedaydelivery": "Yes",
              "unitCode": "DAY"
            },
            "transitTime": {
              "@type": "QuantitativeValue",
              "minValue": "0",
              "maxValue": "0",
              "samedaydelivery": "Yes",
              "unitCode": "DAY"
            }
          },
          "shippingDestination": [
            {
              "@type": "DefinedRegion",
              "addressCountry": "Vi",
              "addressRegion": ["VN"]
            }
          ]
        },
        "hasMerchantReturnPolicy": {
          "@type": "MerchantReturnPolicy",
          "applicableCountry": "VN",
          "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
          "merchantReturnDays": "7",
          "returnMethod": "https://schema.org/ReturnByMail",
          "returnFees": "https://schema.org/FreeReturn"
        },
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock",
        "lowPrice": "{price_number}",
        "highPrice": "{price_number}",
        "seller": {
          "@type": "Organization",
          "name": "MrM"
        }
      }
    ],
    "additionalProperty": [
      {
        "@type": "PropertyValue",
        "propertyID": "LB",
        "value": "Furniture"
      }
    ]
  }
</script>

<!-- chi tiet san pham -->
<div class="product-detail-wrapper">
  <div class="grid">
    <div class="c20"></div>
    <div class="c20 hide-on-tab"></div>

    <div class="flex-container flex-space-between">
      <div class="cell-pro-left tab-cell-1-1 pad-cell-1-1">
        <div class="swiper gallery-top" style="border: 1px solid #d7d7d7">
          <div class="swiper-wrapper">
            <!-- START BLOCK : slider_image -->
            <div class="swiper-slide">
              <a data-fancybox="gallery" data-type="image" data-src="{bigimage_url}" href="javascript:;"
                data-caption="Hình sản phẩm">
                {bigimage}
              </a>
            </div>
            <!-- END BLOCK : slider_image -->
          </div>
          <div class="swiper-button-next swiper-button-black"></div>
          <div class="swiper-button-prev swiper-button-black"></div>
        </div>

        <div class="swiper gallery-thumbs">
          <div class="swiper-wrapper">{thumbimage}</div>
        </div>

        <div class="c10"></div>

        <script>
          var swiper_thumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 4,
            freeMode: true,
            watchSlidesProgress: true,
          })

          var swiper2 = new Swiper('.gallery-top', {
            spaceBetween: 0,
            loop: false, // ⚠️ QUAN TRỌNG
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
            thumbs: {
              swiper: swiper_thumbs,
            },
          })
        </script>

        <div class="c10"></div>
        <div class="c10 hide-on-pc hide-on-tab"></div>
      </div>
      <div class="cell-pro-right tab-cell-1-1 pad-cell-1-1">
        <div style="position: relative">
          <h1 class="product-name-detail">{name}</h1>
          <div class="c5"></div>
          <div class="pro-detail-code"><span>CODE:</span> {ma}</div>

          <!-- START BLOCK : attr -->
          <div class="attr-item">
            <div class="attr-name">{attrname}:</div>
            <div class="attr-value">{attrvalue}</div>
          </div>
          <!-- END BLOCK : attr -->

          <div class="c20"></div>

          <div style="display: flex; gap: 20px">
            <a class="muangay-btn" href="tel:{hotline}"> Hotline: {hotline}</a>
            <a class="addcart-btn" data-modal-id="popupDangKy" data-id="{id_product}" href="#"> Inquiry </a>
          </div>

          <!-- <div class="c30"></div>
          <div class="sharethis-inline-share-buttons"></div> -->
        </div>
      </div>
    </div>
    <div class="c20"></div>
    <div class="flex-container homecat-head">
      <div class="homecat-title">Product Information</div>
      <div class="homecat-line"></div>
    </div>
    <div class="homecat-intro">{intro}</div>
  </div>

  <!-- CÁC SẢN PHẨM KHÁC -->
  <div class="grid">
    <div class="flex-container homecat-head">
      <div class="homecat-title">Other Products</div>
      <div class="homecat-line"></div>
    </div>
    <div class="product-list">
      <div class="flex-container">
        <!-- START BLOCK : other_products -->
        <div class="cell-1-4 tab-cell-1-2">
          <div class="product-item">
            <a href="{link_detail}">
              <div class="product-img">{image}</div>
            </a>
            <div class="c5"></div>
            <div class="text-line-2">
              <a href="{link_detail}" class="product-name">
                {name}
              </a>
            </div>
            <div class="c5"></div>
            <div class="pro-detail-code">CODE: {ma}</div>

            <div class="product-price">{price}</div>
          </div>
        </div>
        <!-- END BLOCK : other_products -->

        <div class="cell-1-4 tab-cell-1-2"></div>
        <div class="cell-1-4 tab-cell-1-2"></div>
        <div class="cell-1-4 tab-cell-1-2"></div>
      </div>
    </div>
  </div>
</div>

<!-- END BLOCK : proDetail -->

<!-- ================= -->


<!-- <script>

  document.addEventListener('DOMContentLoaded', function () {
    const checkboxes = document.querySelectorAll('.inquiry-check')
    const inquiryBar = document.querySelector('.inquiry-bar')
    const btnInquiry = document.getElementById('btnInquiry')

    function updateInquiryBar() {
      const checked = document.querySelectorAll('.inquiry-check:checked')
      const total = checked.length
      if (total > 0) {
        inquiryBar.classList.add('show')
        btnInquiry.classList.add('super-animate')
        btnInquiry.innerText = 'Inquiry (' + total + ')'
      } else {
        inquiryBar.classList.remove('show')
        btnInquiry.classList.remove('super-animate')
      }

    }

    fetch('{dir_path}/index4.php?page=11&code=get_inquiry_count')
      .then(res => res.json())
      .then(data => {
        console.log(data);

        const total = data.count || 0

        if (total > 0) {
          inquiryBar.classList.add('show')
          btnInquiry.classList.add('super-animate')
          btnInquiry.innerText = 'Inquiry (' + total + ')'
        } else {
          inquiryBar.classList.remove('show')
          btnInquiry.classList.remove('super-animate')
          btnInquiry.innerText = 'Inquiry'
        }

      })
    // khi  check hoặc uncheck thì update lại UI
    checkboxes.forEach((cb) => {
      cb.addEventListener('change', function () {
        updateInquiryBar()
        fetch('{dir_path}/index4.php?page=11&code=update_inquiry', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
          },
          body: 'id=' + this.value + '&checked=' + this.checked,
        })
      })
    })
    // bấm nút thì show ra các sản phẩm đã check
    $('#btnInquiry').click(function () {
      $.ajax({
        url: '{dir_paht}/index4.php?page=11&code=get_inquiry_list',
        type: 'GET',
        success: function (html) {
          $('#inquiryList').html(html)
        },
      })
    })
    // khi bấm nút ở trang chi tiết sản phẩm show ra sp đó và các sp đã checked
    $('.addcart-btn').click(function () {
      let productId = $(this).data('id');
      $.ajax({
        url: '{dir_paht}/index4.php?page=11&code=get_inquiry_list',
        type: 'GET',
        data: {
          id: productId
        },
        success: function (html) {
          $('#inquiryList').html(html)
        },
      })
    })

    // xoá
    $(document).on('click', '.remove-inquiry', function () {
      let productId = $(this).data('id');
      let item = $(this).closest('.inquiry-item');
      fetch('{dir_path}/index4.php?page=11&code=update_inquiry', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: 'id=' + productId + '&checked=false',
      })
      item.remove();
      let checkbox = document.querySelector(
        '.inquiry-check[value="' + productId + '"]'
      );
      if (checkbox) checkbox.checked = false;
      updateInquiryBar();
    });

  })
</script> -->
